BTrees==4.0.8
ZConfig==3.0.4
ZEO==4.0.0
ZODB==4.0.1
ZODB3==3.11.0
argparse==1.2.1
ipdb==0.8
ipython==2.2.0
persistent==4.0.8
repoze.catalog==0.8.3
six==1.7.3
transaction==1.4.3
wsgiref==0.1.2
zc.lockfile==1.1.0
zdaemon==4.0.0
zope.component==4.2.1
zope.event==4.0.3
zope.index==4.0.1
zope.interface==4.1.1
